.app-button {
    .p-button-icon {
        display flex !important
        align-items center !important
    }
    
    &-primary {
        background var(--primary-color) !important
        border-color var(--primary-color) !important
    }
    &-primary-outlined {
        background transparent !important
        border-color var(--primary-color) !important
        color var(--primary-color) !important
    }
    &-danger {
        background var(--invalid) !important
        border-color var(--invalid) !important
    }
    &-surface {
        background var(--surface-color) !important
        border-color var(--surface-color) !important
    }
    &-icon .p-button {
        padding 0 !important
        border none !important
        background none !important
    }
}