@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #2d2d2d;
    --second-primary: #32393d;
    --secondary-color: #fff;
    --text-color: #fdfdf9;
    --invalid: red;
    --surface-color: #000;

}

html {
    color-scheme: dark;
    background: var(--text-color);
}