.dashboard 
    &-header
        &-container
            display flex
            justify-content space-between
            align-items center
            width 100%
            padding 20px
            border-radius 20px
            background var(--text-color)

            span
                color var(--primary-color)
                font-weight 600