@import ("~/assets/css/quillTheme.css")

.writing
    &-wrapper
        min-height 100%

        .page-title
            font-size 20px
            font-weight 600
            color var(--text-color)
        .page-description
            font-size 18px
            color var(--text-color)
            margin-top 10px
            margin-bottom 40px
    
    &-editor
        &-container
            height 100%
            max-width 100%
            margin-bottom 20px

        .ql-toolbar.ql-snow
            .ql-formats span
                color var(--second-primary) !important

.aiFeedback
    &-container
        margin-top 20px
        background var(--text-color)
        padding 10px
        border-radius 15px
    &-header
        display flex
        justify-content flex-end
        border-bottom 1px solid #ccc
    &-body
        .prompt
            &-title
                font-size 20px
                font-weight 600
                margin-bottom 10px